.menu {
  text-align: center;
  background: #c6e4ff;
  border-bottom: solid 6px #aac5de;
  margin-left: 7px;
  border-radius: 20px;
  max-width: 200px;

  p {
    margin: auto;
    font-size: 30px;
  }

  &__list {
    width: 120px;
    text-align: start;
    font-size: 20px;
    margin: auto;
  }

  &__item {
    width: auto;
    text-align: start;
    border-bottom: none;
  }
}
