.menu {
  text-align: center;
  min-height: 300px;
  width: 90%;
  background-color: #aaa;
  margin-left: 7px;
  border-radius: 20px;

  p {
    margin: auto;
  }

  .menu-list {
    text-align: start;
    font-size: 20px;
    margin: auto;
  }
}
